header {
  background-color: var(--color-theme-bg);
  padding-inline: calc(var(--g) * 2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}

.header-container {
  position: relative;
  z-index: 2;
  height: var(--site-header-height);
  grid-template-columns: auto 1fr auto;
  align-items: center;
  left: -22px;
}

.logo-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo {
  position: relative;
  height: 24px;
}

.nav-links {
  margin: 0 auto;
}

.nav-link {
  padding-inline: calc(var(--g) * 1.5);
  padding-block: calc(var(--v) * 3/12);
  font-weight: var(--font-weight-300);
}

.nav-link:hover {
  color: var(--color-theme-fg-02);
}

.header-buttons {
  gap: calc(var(--g) * .75);
}